       p
        {
            background-color: aqua;
            color: red;
        }
        h2
        {
            background-color: black;
              color: white;
        }
        .para
        {
            background-color: orange;
        }
       #myPara{
        background-color: green;
       }



