@import url('./Loverine.otf');
@import url('./Another\ Danger\ -\ Demo.otf');
@font-face{
   src: url('./Loverine.otf');
   font-family: Loverine,cursive;
}
@font-face {
   font-family:Another Danger ;
   src: url('./Another\ Danger\ -\ Demo.otf');
}
body{
    /* background-color: goldenrod; */
    /* background-image: linear-gradient(45deg,orange,rgb(95, 95, 243),red,pink,violet,yellow,blue,green); */
    height: 100vh;
    background-color: #8EC5FC;
    font-family: Another Danger;
/* background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
/* background-image: radial-gradient(orange,green,orange,green,orange,green,orange,green); */
  
   /* background-blend-mode:darken */
   /* background-attachment: fixed; */

}
h1{
 
   font-size: 144px;
       letter-spacing: 50px;

   text-align: center;
    background-image: url('https://upload.wikimedia.org/wikipedia/en/1/19/Marvel_Universe_%28Civil_War%29.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center; 
      background-clip: text;
   -webkit-background-clip: text;  
   color: transparent;
   /* color: white; */
}